header, nav, aside, article, footer, section, main, figure, figcaption {
	display:block;
}
* {
 	margin:0;
	border:0;
	padding:0;
}

.hide {
  opacity: 0;
}
.show {
  font-size: 2rem;
  opacity: 1;
  transition: opacity 1s;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  text-align: center;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

/* https://cssgradient.io/ */

header {
  padding: 5% 5% 3% 5%;
  border-bottom: 2px solid white;
  font-size: .8rem;
}

section {
  padding: 0 0 5% 0;
}

h2 {
  font-size: 1rem;
}

main {
  padding: 3% 0 0 0;
}
